<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANGMAN WEB</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="answer-zone">
    
    <label for="text-input">Entrez votre texte :</label>
    <input type="text" id="text-input">

</div>
 

<h1>Accueil</h1>


<main>
    <p><strong>{{.Word}}</strong></p>
    <button>Cliquer ici</button>

</main>


<img src="golang.png" alt="surcia" width="259" height="194">
</body>
</html>