<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu du Pendu</title>
    <link rel="stylesheet" href="static/Play.css">
</head>
<body>
    
    <div class="answerbox">
        <h1>Jeu du Pendu</h1>
        <img src="{{ .PhasePendu }}" alt="pendu image">
        <p>Mot à deviner :</p>
        <h2>{{ .HiddenWord }}</h2>


        <form action="/play" method="POST">
            <label fo  r="guess">Entrez une lettre :</label>
            <input type="text" id="guess" name="guess" maxlength="1" required>
            <button type="submit">Valider</button>
        </form>
    </div>
    <h6> {{ .lives }} </h6>
</body>
</html>
